@using ES.QLBongDa.Authorization
@using ES.QLBongDa.Web.Areas.App.Models.Rankings
@using ES.QLBongDa.Web.Areas.App.Startup
@model RankingsViewModel
@{
    ViewBag.CurrentPageName = AppPageNames.Host.Rankings;
}
@section Scripts
{
    <script abp-src="/view-resources/Areas/App/Views/Rankings/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

                <abp-page-subheader title='@L("Rankings")' description='@L("RankingsHeaderInfo")'>

                    <button id="RefreshBXHButton" value="ViewResult" class="btn btn-primary">
                                <i class="la la-refresh"></i> @L("TotalMatch")
                            </button>

      @*  <button id="RefreshBXHButton" asp-action="ViewResult" class="btn btn-primary blue" d><i class="fa fa-plus"></i> @L("TotalMatch")</button>*@
            
                    @* @if (IsGranted(AppPermissions.Pages_Rankings_Create))
                     {
                         <a href="\App\Rankings\CreateOrEdit" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewRanking")</a>                
                     }*@
                </abp-page-subheader>
            
<div class="@(await GetContainerClass())">   
    <div class="card card-custom gutter-b">
        <div class="card-body">
            <div class="form">
                <div class="row align-items-center mb-4">
                    <div class="col-xl-12">                        
                        
                        
             @*   <div class="my-3">
                    <div class="input-group">
                        <input type="text" id="RankingsTableFilter" class="form-control" placeholder='@L("SearchWithThreeDot")' value="@Model.FilterText">
                        <button id="GetRankingsButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>                        
                    </div>
                </div>*@
            
                    </div>
                </div>
			</div>
@*                <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                    <div class="col-md-12">
						
					</div>


                            <div class="col-md-3">
                                 <div class="my-3">
									<label class="form-label" for="MinnamFilterId">@L("MinMax") @L("nam")</label>
									<div class="input-group">
										<input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minnamFilter" id="MinnamFilterId"/>
                                        <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxnamFilter"  id="MaxnamFilterId"/>
									</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                 <div class="my-3">
									<label class="form-label" for="MinvongFilterId">@L("MinMax") @L("vong")</label>
									<div class="input-group">
										<input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minvongFilter" id="MinvongFilterId"/>
                                        <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxvongFilter"  id="MaxvongFilterId"/>
									</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                 <div class="my-3">
									<label class="form-label" for="MintranFilterId">@L("MinMax") @L("tran")</label>
									<div class="input-group">
										<input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="mintranFilter" id="MintranFilterId"/>
                                        <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxtranFilter"  id="MaxtranFilterId"/>
									</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                 <div class="my-3">
									<label class="form-label" for="MinthangFilterId">@L("MinMax") @L("thang")</label>
									<div class="input-group">
										<input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minthangFilter" id="MinthangFilterId"/>
                                        <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxthangFilter"  id="MaxthangFilterId"/>
									</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                 <div class="my-3">
									<label class="form-label" for="MinhoaFilterId">@L("MinMax") @L("hoa")</label>
									<div class="input-group">
										<input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minhoaFilter" id="MinhoaFilterId"/>
                                        <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxhoaFilter"  id="MaxhoaFilterId"/>
									</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                 <div class="my-3">
									<label class="form-label" for="MinthuaFilterId">@L("MinMax") @L("thua")</label>
									<div class="input-group">
										<input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minthuaFilter" id="MinthuaFilterId"/>
                                        <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxthuaFilter"  id="MaxthuaFilterId"/>
									</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                 <div class="my-3">
									<label class="form-label" for="MinhieusoFilterId">@L("MinMax") @L("hieuso")</label>
									<div class="input-group">
										<input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minhieusoFilter" id="MinhieusoFilterId"/>
                                        <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxhieusoFilter"  id="MaxhieusoFilterId"/>
									</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                 <div class="my-3">
									<label class="form-label" for="MindiemFilterId">@L("MinMax") @L("diem")</label>
									<div class="input-group">
										<input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="mindiemFilter" id="MindiemFilterId"/>
                                        <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxdiemFilter"  id="MaxdiemFilterId"/>
									</div>
                                </div>
                            </div>


							<div class="col-md-3">
								<div class="my-3">
									<label class="form-label" for="ClubTENCLBFilterId">(@L("Club")) @L("TENCLB")</label>
									<input type="text" class="form-control" name="clubTENCLBFilter" id="ClubTENCLBFilterId">
								</div>
                            </div>
                </div>
                <div class="row my-4">
                    <div class="col-xl-12">
                        <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                        <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                    </div>
                </div>*@
            <div class="row align-items-center">
                <table id="RankingsTable" class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer">
                    <thead>
                        <tr>
                            <th></th>
                            
@*                            <th>@L("Actions")</th>*@
                            	<th>@L("ClubTENCLB")</th>    
								<th>@L("nam")</th>
								<th>@L("vong")</th>
								<th>@L("tran")</th>
								<th>@L("thang")</th>
								<th>@L("hoa")</th>
								<th>@L("thua")</th>
								<th>@L("hieuso")</th>
								<th>@L("diem")</th>   
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
  </div>
</div>
