@using ES.QLBongDa.Authorization
@using ES.QLBongDa.Web.Areas.App.Models.Rankings
@using ES.QLBongDa.Web.Areas.App.Startup
@model RankingsViewModel
@{
    ViewBag.CurrentPageName = AppPageNames.Host.Rankings;
}
@section Scripts
{
    <script abp-src="/view-resources/Areas/App/Views/Rankings/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

                <abp-page-subheader title='@L("Rankings")' description='@L("RankingsHeaderInfo")'>

                    <button id="RefreshBXHButton" value="ViewResult" class="btn btn-primary">
                                <i class="la la-refresh"></i> @L("TotalMatch")
                            </button>
                </abp-page-subheader>
            
<div class="@(await GetContainerClass())">   
    <div class="card card-custom gutter-b">
        <div class="card-body">
            <div class="form">
                <div class="row align-items-center mb-4">
                    <div class="col-xl-12">                        
                        
                    </div>
                </div>
			</div>
            <div class="row align-items-center">
                <table id="RankingsTable" class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer">
                    <thead>
                        <tr>
                            <th></th>
                            	<th>@L("ClubTENCLB")</th>    
								<th>@L("nam")</th>
								<th>@L("vong")</th>
								<th>@L("tran")</th>
								<th>@L("thang")</th>
								<th>@L("hoa")</th>
								<th>@L("thua")</th>
								<th>@L("hieuso")</th>
								<th>@L("diem")</th>   
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
  </div>
</div>
