@using ES.QLBongDa.Web.Areas.App.Startup
@using ES.QLBongDa.Web.Areas.App.Models.Rankings
@model RankingViewModel
@using ES.QLBongDa.Web.TagHelpers
@{
    ViewBag.CurrentPageName = AppPageNames.Host.Rankings;
}
@section Scripts
{
    <script abp-src="/view-resources/Areas/App/Views/Rankings/CreateOrEdit.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

                  @{
                      var breadcrumbs = new List<BreadcrumbItem>()
                      {
                          new BreadcrumbItem("/App/Rankings", L("Rankings")),
                          new BreadcrumbItem(L("Details")),
                      };
                   }
                  <abp-page-subheader title='@L("Details")' breadcrumbs="breadcrumbs">                     
                  </abp-page-subheader>
             

<div class="@(await GetContainerClass())">
    <div class=" card card-custom gutter-b">
        <div class=" card-body">
             <div id="RankingInformationsTab">        
                    <div class="row">
                                    <div class="col-6 mb-3">
                <h6>@L("nam") :</h6>
                @Model.Ranking.nam
            </div>
            <div class="col-6 mb-3">
                <h6>@L("vong") :</h6>
                @Model.Ranking.vong
            </div>
            <div class="col-6 mb-3">
                <h6>@L("tran") :</h6>
                @Model.Ranking.tran
            </div>
            <div class="col-6 mb-3">
                <h6>@L("thang") :</h6>
                @Model.Ranking.thang
            </div>
            <div class="col-6 mb-3">
                <h6>@L("hoa") :</h6>
                @Model.Ranking.hoa
            </div>
            <div class="col-6 mb-3">
                <h6>@L("thua") :</h6>
                @Model.Ranking.thua
            </div>
            <div class="col-6 mb-3">
                <h6>@L("hieuso") :</h6>
                @Model.Ranking.hieuso
            </div>
            <div class="col-6 mb-3">
                <h6>@L("diem") :</h6>
                @Model.Ranking.diem
            </div>

                                    <div class="col-6 mb-3">
                <h6>(@L("Club")) @L("TENCLB") :</h6>
                @Model.ClubTENCLB
            </div>

                    </div>
                </div>
			</div>
        </div>
    </div>
  </div>
