@using ES.QLBongDa.Web.Areas.App.Startup
@using ES.QLBongDa.Web.Areas.App.Models.Players
@model PlayerViewModel
@using ES.QLBongDa.Web.TagHelpers
@{
    ViewBag.CurrentPageName = AppPageNames.Host.Players;
}
@section Scripts
{
    <script abp-src="/view-resources/Areas/App/Views/Players/CreateOrEdit.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

                  @{
                      var breadcrumbs = new List<BreadcrumbItem>()
                      {
                          new BreadcrumbItem("/App/Players", L("Players")),
                          new BreadcrumbItem(L("Details")),
                      };
                   }
                  <abp-page-subheader title='@L("Details")' breadcrumbs="breadcrumbs">                     
                  </abp-page-subheader>
             

<div class="@(await GetContainerClass())">
    <div class=" card card-custom gutter-b">
        <div class=" card-body">
             <div id="PlayerInformationsTab">        
                    <div class="row">
                                    <div class="col-6 mb-3">
                <h6>@L("Hoten") :</h6>
                @Model.Player.Hoten
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Vitri") :</h6>
                @Model.Player.Vitri
            </div>
            <div class="col-6 mb-3">
                <h6>@L("soao") :</h6>
                @Model.Player.soao
            </div>

                                    <div class="col-6 mb-3">
                <h6>(@L("Club")) @L("MACLB") :</h6>
                @Model.ClubMACLB
            </div>
            <div class="col-6 mb-3">
                <h6>(@L("Nation")) @L("maqg") :</h6>
                @Model.Nationmaqg
            </div>

                    </div>
                </div>
			</div>
        </div>
    </div>
  </div>
