
@using System.Globalization
@using ES.QLBongDa.Authorization
@using ES.QLBongDa.Web.Areas.App.Models.Vilages
@using ES.QLBongDa.Web.Areas.App.Startup
@model CreateOrEditVilageViewModel
@using ES.QLBongDa.Web.TagHelpers
@{
ViewBag.CurrentPageName = AppPageNames.Host.Vilages;
}
@section Scripts
{
<script abp-src="/view-resources/Areas/App/Views/Vilages/CreateOrEdit.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    @{
    var breadcrumbs = new List<BreadcrumbItem>()
        {
        new BreadcrumbItem("/App/Vilages", L("Vilages")),
        new BreadcrumbItem(Model.IsEditMode ? L("Edit") : L("Create"))
        };
        }
        <abp-page-subheader title='@(Model.IsEditMode ? (L("EditVilage")) : L("CreateNewVilage"))' breadcrumbs="breadcrumbs">
        </abp-page-subheader>

        <div class="@(await GetContainerClass())">
            <div class="card card-custom gutter-b">
                <form name="VilageInformationsForm" role="form" novalidate class="form-validation">
                    <div class="card-body">
                        <div class="form">
                            <div id="VilageInformationsTab">
                                @if (Model.IsEditMode)
                                {
                                <input type="hidden" name="id" value="@Model.Vilage.Id" />
                                }

                                <div class="my-3">
                                    <label class="form-label" for="Vilage_matinh">@L("matinh")</label>
                                    <input class="form-control" id="Vilage_matinh" value="@Model.Vilage.matinh" type="text" name="matinh" required />
                                </div>

                                <div class="my-3">
                                    <label class="form-label" for="Vilage_tentinh">@L("tentinh")</label>
                                    <input class="form-control" id="Vilage_tentinh" value="@Model.Vilage.tentinh" type="text" name="tentinh" required />
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row align-items-center">
                            <div class="col-lg-12">
                                <button type="button" id="saveBtn" class="btn btn-success float-right"><i class="fa fa-save"></i> @L("Save")</button>
                                @if (!Model.IsEditMode)
                                {
                                <button type="button" id="saveAndNewBtn" class="btn btn-success float-right"><i class="fa fa-save"></i> @L("SaveAndNew")</button>
                                }
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
</div>