@using ES.QLBongDa.Web.Areas.App.Startup
@using ES.QLBongDa.Web.Areas.App.Models.Vilages
@model VilageViewModel
@using ES.QLBongDa.Web.TagHelpers
@{
ViewBag.CurrentPageName = AppPageNames.Host.Vilages;
}
@section Scripts
{
<script abp-src="/view-resources/Areas/App/Views/Vilages/CreateOrEdit.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    @{
    var breadcrumbs = new List<BreadcrumbItem>()
        {
        new BreadcrumbItem("/App/Vilages", L("Vilages")),
        new BreadcrumbItem(L("Details")),
        };
        }
        <abp-page-subheader title='@L("Details")' breadcrumbs="breadcrumbs">
        </abp-page-subheader>

        <div class="@(await GetContainerClass())">
            <div class=" card card-custom gutter-b">
                <div class=" card-body">
                    <div id="VilageInformationsTab">
                        <div class="row">
                            <div class="col-6 mb-3">
                                <h6>@L("matinh") :</h6>
                                @Model.Vilage.matinh
                            </div>
                            <div class="col-6 mb-3">
                                <h6>@L("tentinh") :</h6>
                                @Model.Vilage.tentinh
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>