
@using System.Globalization
@using ES.QLBongDa.Web.Areas.App.Models.Common.Modals
@using ES.QLBongDa.Web.Areas.App.Models.ListHLVs
@model CreateOrEditListHLVModalViewModel
@using Abp.Extensions
@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditListHLV")) : L("CreateNewListHLV")))

<div class="modal-body">
        <div id="ListHLVInformationsTab">
            <form name="ListHLVInformationsForm" role="form" novalidate class="form-validation">

                @if (Model.IsEditMode)
                {
                    <input type="hidden" name="id" value="@Model.ListHLV.Id" />
                }
								<div class="my-3">
									<label class="form-label" for="ListHLV_Mahlv">@L("Mahlv")</label>
									<div class="dropdown2">
										<select class="form-control" id="ListHLV_Mahlv" value="@Model.ListHLV.Mahlv" name="mahlv">
											<option value="HLV01">HLV01</option>
											<option value="HLV02">HLV02</option>
											<option value="HLV03">HLV03</option>
											<option value="HLV04">HLV04</option>
											<option value="HLV05">HLV05</option>
											<option value="HLV06">HLV06</option>
											<option value="HLV07">HLV07</option>
										</select>
									</div>
								</div>
					
								<div class="my-3">
									<label class="form-label" for="ListHLV_MACLB">@L("MACLB")</label>
									<input class="form-control" id="ListHLV_MACLB" value="@Model.ListHLV.MACLB" type="text" name="maclb"  required    />
								</div>
					
								<div class="my-3">
									<label class="form-label" for="ListHLV_VAITRO">@L("VAITRO")</label>
									<div class="dropdown1">
										<select id="ListHLV_VAITRO" value="@Model.ListHLV.VAITRO" name="vaitro" class="form-control">
											<option value="HLV Chính">HLV Chính</option>
											<option value="Trợ Lý HLV">Trợ Lý HLV</option>
											<option value="HLV Thủ Môn">HLV Thủ Môn</option>
											<option value="HLV Tiền Đạo">HLV Tiền Đạo</option>
											<option value="HLV Tiền Vệ">HLV Tiền Vệ</option>
											<option value="HLV Hậu Vệ">HLV Hậu Vệ</option>
											<option value="HLV Thể Lực">HLV Thể Lực</option>
										</select>
									</div>
								</div>
            </form>
        </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
