
@using ES.QLBongDa.Web.Areas.App.Models.Common.Modals
@using ES.QLBongDa.Web.Areas.App.Models.ListHLVs
@model ListHLVViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="ListHLVInformationsTab">
        
        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("Mahlv") :</h6>
                @Model.ListHLV.Mahlv
            </div>
            <div class="col-6 mb-3">
                <h6>@L("MACLB") :</h6>
                @Model.ListHLV.MACLB
            </div>
            <div class="col-6 mb-3">
                <h6>@L("VAITRO") :</h6>
                @Model.ListHLV.VAITRO
            </div>


        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")

