
@using ES.QLBongDa.Web.Areas.App.Models.Common.Modals
@using ES.QLBongDa.Web.Areas.App.Models.Clubs
@model ClubViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="ClubInformationsTab">
        
        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("MACLB") :</h6>
                @Model.Club.MACLB
            </div>
            <div class="col-6 mb-3">
                <h6>@L("TENCLB") :</h6>
                @Model.Club.TENCLB
            </div>

            <div class="col-6 mb-3">
                <h6>(@L("Stadium")) @L("Tensan") :</h6>
                @Model.StadiumTensan
            </div>
            <div class="col-6 mb-3">
                <h6>(@L("Vilage")) @L("tentinh") :</h6>
                @Model.Vilagetentinh
            </div>
            <h6> @L("ListHLVs"):</h6>
            <div class="row">
                <div class="col-sm-3 col-md-11">
                     <button style="float:right" id="CreateNewListHLVButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewListHLV")</button>
                </div>
                 <div class="row align-items-center">
                <table class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer">
         <thead>
                        <tr>
                            <th>Mã HLV</th>
                            <th>Tên HLV</th>
                            <th>Vai Trò</th>
                            <th></th>
                        </tr>
                            <tr>
                                <td>@Model.List.Mahlv</td>
                                <td>@Model.coach.Tenhlv</td>
                                <td>@Model.List.VAITRO</td>
                                <td></td>
                            </tr>     
                    </thead>
                </table>
            </div>
            </div>
           
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")

