@using ES.QLBongDa.Web.Areas.App.Startup
@using ES.QLBongDa.Web.Areas.App.Models.Clubs
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@model ClubViewModel
@using ES.QLBongDa.Web.TagHelpers
@{
    ViewBag.CurrentPageName = AppPageNames.Host.Clubs;
}
@section Scripts
{
    <script abp-src="/view-resources/Areas/App/Views/Clubs/CreateOrEdit.js" asp-append-version="true"></script>
     <script abp-src="/view-resources/Areas/App/Views/ListHLVs/Index.js" asp-append-version="true"></script>
    <script abp-src="/view-resources/Areas/App/Views/ListHLVs/_CreateOrEditModal.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

                  @{
                      var breadcrumbs = new List<BreadcrumbItem>()
                      {
                          new BreadcrumbItem("/App/Clubs", L("Clubs")),
                          new BreadcrumbItem(L("Details")),
                      };
                   }
                  <abp-page-subheader title='@L("Details")' breadcrumbs="breadcrumbs">                     
                  </abp-page-subheader>
             

<div class="@(await GetContainerClass())">
    <div class=" card card-custom gutter-b">
         <div class="col-sm-3 col-md-11">
                     <button style="float:right;margin-top:30px" id="CreateNewListHLVButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewListHLV")</button>
                </div>
        <div class=" card-body">
             <div id="ClubInformationsTab">        
                    <div class="row">
                                    <div class="col-6 mb-3">
                <h6>@L("MACLB") :</h6>
                @Model.Club.MACLB
            </div>
            <div class="col-6 mb-3">
                <h6>@L("TENCLB") :</h6>
                @Model.Club.TENCLB
            </div>

                                    <div class="col-6 mb-3">
                <h6>(@L("Stadium")) @L("Tensan") :</h6>
                @Model.StadiumTensan
            </div>
            <div class="col-6 mb-3">
                <h6>(@L("Vilage")) @L("tentinh") :</h6>
                @Model.Vilagetentinh
            </div>
              <h6> @L("ListHLVs"):</h6>
            <div class="row">
               
                 <div class="row align-items-center">
                <table class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer">
                    <thead>
                        <tr>
                            <th>Mã HLV</th>
                            <th>Tên HLV</th>
                            <th>Vai Trò</th>
                            <th></th>
                        </tr>
                            <tr>
                                <td>@Model.list.Mahlv</td>
                                <td>@Model.manager.Tenhlv</td>
                                <td>@Model.list.VAITRO</td>
                                <td style="float:right" title="@L("Delete")" id="delete" class="btn btn-circle btn-icon-only btn-danger">
                <i class="la la-trash"></i></td>
                            </tr>     
                    </thead>
                </table>
            </div>
            </div>

                    </div>
                </div>
			</div>
        </div>
    </div>
  </div>
