
@using System.Globalization
@using ES.QLBongDa.Authorization
@using ES.QLBongDa.Web.Areas.App.Models.Managers
@using ES.QLBongDa.Web.Areas.App.Startup
@model CreateOrEditManagerViewModel
@using ES.QLBongDa.Web.TagHelpers
@{
    ViewBag.CurrentPageName = AppPageNames.Host.Managers;
}
@section Scripts
{
    <script abp-src="/view-resources/Areas/App/Views/Managers/CreateOrEdit.js" asp-append-version="true"></script>
}
 
<div class="content d-flex flex-column flex-column-fluid">

                @{
                    var breadcrumbs = new List<BreadcrumbItem>()
                    {
                        new BreadcrumbItem("/App/Managers", L("Managers")),
                        new BreadcrumbItem(Model.IsEditMode ? L("Edit") : L("Create"))
                    };
                }
                <abp-page-subheader title='@(Model.IsEditMode ? (L("EditManager")) : L("CreateNewManager"))' breadcrumbs="breadcrumbs">                 
                </abp-page-subheader>
            

<div class="@(await GetContainerClass())">
    <div class="card card-custom gutter-b">
        <form name="ManagerInformationsForm" role="form" novalidate class="form-validation">
            <div class="card-body">
                <div class="form">
                     <div id="ManagerInformationsTab">   
                            @if (Model.IsEditMode)
                            {
                                <input type="hidden" name="id" value="@Model.Manager.Id" />
                            }

				            
                                        
						<div class="my-3">
							<label class="form-label" for="nationId">@L("Nation")</label>
							@Html.DropDownList("nationId", new SelectList(Model.ManagerNationList,"Id","DisplayName", (Model.IsEditMode ? Model.Manager.NationId.ToString() : "")),@L("SelectANation"), new { @class = "form-control"   })
						</div>

				            
                            
								<div class="my-3">
									<label class="form-label" for="Manager_Mahlv">@L("Mahlv")</label>
									<input class="form-control" id="Manager_Mahlv" value="@Model.Manager.Mahlv" type="text" name="mahlv"  required    />
								</div>
					
								<div class="my-3">
									<label class="form-label" for="Manager_Tenhlv">@L("Tenhlv")</label>
									<input class="form-control" id="Manager_Tenhlv" value="@Model.Manager.Tenhlv" type="text" name="tenhlv"  required    />
								</div>
					
								<div class="my-3">
									<label class="form-label" for="Manager_Namsinh">@L("Namsinh")</label>
									<input class="form-control m-input" id="Manager_Namsinh" value="@Model.Manager.Namsinh.ToString(CultureInfo.InvariantCulture)" type="number" name="namsinh"   />
								</div>
					
                    </div>
			    </div>            
            </div>
            <div class="card-footer">
			    <div class="row align-items-center">
				    <div class="col-lg-12">
					    <button type="button" id="saveBtn" class="btn btn-success float-right"><i class="fa fa-save"></i> @L("Save")</button>
					    @if (!Model.IsEditMode)
                        {
					        <button type="button" id="saveAndNewBtn" class="btn btn-success float-right"><i class="fa fa-save"></i> @L("SaveAndNew")</button>
					    }
				    </div>
			    </div>
		    </div>
         </form>
    </div>
  </div>
</div>