@using ES.QLBongDa.Authorization
@using ES.QLBongDa.Web.Areas.App.Models.Matchs
@using ES.QLBongDa.Web.Areas.App.Startup
@model MatchsViewModel
@{
    ViewBag.CurrentPageName = AppPageNames.Host.Matchs;
}
@section Scripts
{
    <script abp-src="/view-resources/Areas/App/Views/Matchs/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

                <abp-page-subheader title='@L("Matchs")' description='@L("MatchsHeaderInfo")'>
                     <button id="ExportToExcelButton" class="btn btn-outline btn-outline-success btn-active-light-success me-1"><i class="fa fa-file-excel"></i> @L("ExportToExcel")</button>
            
                     @if (IsGranted(AppPermissions.Pages_Matchs_Create))
                     {
                         <a href="\App\Matchs\CreateOrEdit" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewMatch")</a>                
                     }
                </abp-page-subheader>
            
<div class="@(await GetContainerClass())">   
    <div class="card card-custom gutter-b">
        <div class="card-body">
            <div class="form">
                <div class="row align-items-center mb-4">
                            @*<div class="col-md-3">
                                <div class="my-3">
                                    <label class="form-label" for="MinVongFilterId">@L("Vong")</label>
                                    <div class="input-group">
                                        <input type="number" class="form-control m-input" name="minVongFilter" id="MinVongFilterId" />
                                        <input type="number" class="form-control m-input" name="maxVongFilter" id="MaxVongFilterId" />
                                    </div>
                                </div>
                            </div>
                            <div style="" class="col-md-3">
                                <div class="my-3">
                                   
                                    <button id="GetMatchsButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                </div>
                            </div>*@
                        <div hidden class="col-md-3">
                            <div class="my-3">
                                <label class="form-label" for="KetquaFilterId">(@L("Stadium")) @L("Tensan")</label>
                                <input type="text" class="form-control" name="KetquaFilterId2" id="KetquaFilterId2" value="-">
                            </div>
                        </div>
                         <div hidden class="col-md-3">
                            <div class="my-3">
                                <label class="form-label" for="KetquaFilterId">(@L("Stadium")) @L("Tensan")</label>
                                <input type="text" class="form-control" name="maxVongFilterId" id="MaxVongFilterId" value="1">
                            </div>
                        </div>
                        <div hidden class="my-3">
                            <label class="form-label" for="MinVongFilterId">@L("Vong")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" name="minVongFilter" id="MinVongFilterId" />
                                <input type="number" class="form-control m-input" name="maxVongFilter" id="MaxVongFilterId" />
                            </div>
                        </div>
                        
                </div>
			</div>

            <div class="row align-items-center">
                <table style="background-size: cover;border: 2px solid black" id="MatchsTable" class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer">
                    <h1>Kết Quả</h1>
                    <thead  style="background-color:lightgray">
                        <tr>
                                <th></th>
                                <th>@L("Actions")</th>
								<th>@L("Nam")</th>
								<th>@L("Vong")</th>
								<th>@L("Home")</th>
                                <th>@L("Ketqua")</th>
								<th>@L("Away")</th>
                        </tr>
                    </thead>
                </table>

                <table style="background-size: cover;border: 2px solid black" id="MatchsTable2" class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer">
                    <h1>Lịch Thi Đấu</h1>
                    <thead style="background-color:lightgray">
                        <tr>
                                <th></th>
                                <th>@L("Actions")</th>
								<th>@L("Nam")</th>
								<th>@L("Vong")</th>
								<th>@L("Home")</th>
                                <th>@L("Ketqua")</th>
								<th>@L("Away")</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
  </div>
</div>
