@using ES.QLBongDa.Web.Areas.App.Startup
@using ES.QLBongDa.Web.Areas.App.Models.Matchs
@model MatchViewModel
@using ES.QLBongDa.Web.TagHelpers
@{
    ViewBag.CurrentPageName = AppPageNames.Host.Matchs;
}
@section Scripts
{
    <script abp-src="/view-resources/Areas/App/Views/Matchs/CreateOrEdit.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

                  @{
                      var breadcrumbs = new List<BreadcrumbItem>()
                      {
                          new BreadcrumbItem("/App/Matchs", L("Matchs")),
                          new BreadcrumbItem(L("Details")),
                      };
                   }
                  <abp-page-subheader title='@L("Details")' breadcrumbs="breadcrumbs">                     
                  </abp-page-subheader>
             

<div class="@(await GetContainerClass())">
    <div class=" card card-custom gutter-b">
        <div class=" card-body">
             <div id="MatchInformationsTab">        
                    <div class="row">
                                    <div class="col-6 mb-3">
                <h6>@L("Nam") :</h6>
                @Model.Match.Nam
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Vong") :</h6>
                @Model.Match.Vong
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Ketqua") :</h6>
                @Model.Match.Ketqua
            </div>

                                    <div class="col-6 mb-3">
                <h6>(@L("Club")) @L("TENCLB") :</h6>
                @Model.ClubTENCLB
            </div>
            <div class="col-6 mb-3">
                <h6>(@L("Club")) @L("TENCLB") :</h6>
                @Model.ClubTENCLB2
            </div>
            <div class="col-6 mb-3">
                <h6>(@L("Stadium")) @L("Tensan") :</h6>
                @Model.StadiumTensan
            </div>

                    </div>
                </div>
			</div>
        </div>
    </div>
  </div>
